.card {
  /* min-height: 33%; */
  /* width: 33%; */
  margin: 16px;
  padding: 16px;
  text-align: center;
  border: 1px solid black;
  background-color: rgb(194, 194, 214);
  /* display: inline-block; */
  flex:1  ;

}



.card_title {
  font-weight: 900;
}
